---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TechMarquee from "../components/TechMarquee.astro";
import BentoGrid from "../components/BentoGrid.astro";
import Automation from "../components/Automation.astro";
import Staff from "../components/Staff.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Ingeniu | Elite Engineering Partners">
	<Navbar />
	<main>
		<Hero />
		<TechMarquee />
		<BentoGrid />
		<Automation />
		<Staff />
	</main>
	<Footer />
</Layout>
